   #loader{
        position: absolute;
        top:50px;
        left:50px;
        height:70px;
        width:70px;
    }
   
    #bigblock{
        position: absolute;
        top:35%;
        left:40%;
        width:170px;
        height:170px;
    }
   
    #block1{
        position: absolute;
        top:0px;
        left:0px;
        height:23.33px;
        width:23.33px;
        background-color: white;
         -webkit-transition: all 0.1s ease;
        -moz-transition : all 0.1s ease 0s;
    }
   
    #block2{
        position: absolute;
        top:0px;
        left:23.33px;
        height:23.33px;
        width:23.33px;
        background-color: white;
         -webkit-transition: all 0.25s ease;
        -moz-transition : all 0.25s ease 0s;
    }
    #block3{
        position: absolute;
        top:0px;
        left:46.66px;
        height:23.33px;
        width:23.33px;
        background-color: white;
         -webkit-transition: all 0.4s ease;
        -moz-transition : all 0.4s ease 0s;
    }
    #block4{
        position: absolute;
        top:23.33px;
        left:46.66px;
        height:23.33px;
        width:23.33px;
        background-color: white;
         -webkit-transition: all 0.6s ease;
        -moz-transition : all 0.6s ease 0s;
    }
    #block5{
        position: absolute;
        top:46.66px;
        left:46.66px;
        height:23.33px;
        width:23.33px;
        background-color: white;
         -webkit-transition: all 0.75s ease;
        -moz-transition : all 0.75s ease 0s;
       
    }
    #block6{
        position: absolute;
        top:46.66px;
        left:23.33px;
        height:23.33px;
        width:23.33px;
        background-color: white;
         -webkit-transition: all 0.9s ease;
        -moz-transition : all 0.9s ease 0s;
       
    }
    #block7{
        position: absolute;
        top:46.66px;
        left:0px;
        height:23.33px;
        width:23.33px;
        background-color: white;
         -webkit-transition: all 1.05s ease;
        -moz-transition : all 1.05s ease 0s;
    }
    #block8{
        position: absolute;
        top:23.33px;
        left:0px;
        height:23.33px;
        width:23.33px;
        background-color: white;
         -webkit-transition: all 1.25s ease;
        -moz-transition : all 1.25s ease 0s;
    }
   
    body{
        background-color: teal;
    }
   
#copyright{
    top:5px;
    left:0px;
    width:100%;
    height: 50px;
    color: white;
    text-align: center;
}
#copyright a{
    text-decoration: none;
    color:black;
}