#request-demo{background: #3C8DBC; padding: 30px 0; text-align: center; color: #fff;}
#request-demo h3{font-size: 23px; padding: 20px 0; text-transform: uppercase;}
#request-demo strong{font-size: 28px;}
#request-demo a{margin: 20px 0; border-radius: 2px;}
#request-demo b{font-size: 20px; font-weight: normal;}
#request-demo b{text-align: right;}