
body{
    margin-top:20px;
    background:#eee;
}	

.profile .panel-profile {
    border: none;
    margin-bottom: 0;
    box-shadow: none;
}

.profile .panel-heading {
    color: #585f69;
    background: #fff;
    padding: 7px 15px;
    border-bottom: solid 3px #f7f7f7;
}

.overflow-h {
    overflow: hidden;
}

.panel-heading {
    color: #fff;
    padding: 5px 15px;
}

.profile .panel-title {
    font-size: 16px;
}

.profile .profile-blog {
    padding: 20px;
    background: #fff;
}

.profile .blog-border {
    border: 1px solid #f0f0f0;
}

.profile .profile-blog img {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.rounded-x {
    border-radius: 50% !important;
}

.profile .name-location {
    overflow: hidden;
}

.profile .name-location strong {
    color: #555;
    display: block;
    font-size: 16px;
}

.profile .name-location span a {
    color: #555;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.share-list {
    margin-bottom: 0;
}


.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    font-size:11px;
}

.share-list li i {
    color: #72c02c;
    margin-right: 5px;
}                