#our-goals h3{font-size: 28px;}
#our-goals .service-block{text-align:center;}
#our-goals .service-block{margin-bottom: 50px;}
#our-goals .service-block .glyphicon{font-size:160px;margin-bottom:20px; color: #3C8DBC;}
#our-goals .service-block p{font-size: 15px; margin-top: 15px; color: #3C8DBC;}

