
.testimonials blockquote {
  position: relative;
  background: white;
  min-height: 150px;
  margin-top: 20px;
  margin-bottom: 100px;
  border: 1px solid #ecedf1;
}
.testimonials blockquote:before {
  content: &#039;&#039;;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  border-top: 10px solid #ecedf1;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.testimonials blockquote:after {
  content: &#039;&#039;;
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-left: -9px;
  border-top: 9px solid white;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
}

.testimonials blockquote img {
  height: 50px;
  width: 50px;
  position: absolute;
  border: 1px solid #ecedf1;
  background: white;
  bottom: -65px;
  left: 50%;
  margin-left: -25px;
}

blockquote p.clients-words {
    font-size: 14px;
}
span.clients-name {
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
