.btn-group .dropdown-menu a{
    color:#fff;
}

.btn-default .dropdown-menu {
  color: #000 !important;
}
.btn-default .dropdown-menu li > a:hover,
.btn-default .dropdown-menu li > a:focus {
  background-color: #000 !important;
  color:#fff !important;
}
.btn-group-primary .dropdown-menu {
  background-color: #3784c5 !important;
}
.btn-group-primary .dropdown-menu li > a:hover,
.btn-group-primary .dropdown-menu li > a:focus {
  background-color: #428bca !important;
}
.btn-group-success .dropdown-menu {
  background-color: #51b351 !important;
}
.btn-group-success .dropdown-menu li > a:hover,
.btn-group-success .dropdown-menu li > a:focus {
  background-color: #5cb85c !important;
}
.btn-group-info .dropdown-menu {
  background-color: #4ebbdb !important;
}
.btn-group-info .dropdown-menu li > a:hover,
.btn-group-info .dropdown-menu li > a:focus {
  background-color: #5bc0de !important;
}
.btn-group-warning .dropdown-menu {
  background-color: #efa640 !important;
}
.btn-group-warning .dropdown-menu li > a:hover,
.btn-group-warning .dropdown-menu li > a:focus {
  background-color: #f0ad4e !important;
}
.btn-group-danger .dropdown-menu {
  background-color: #d64742 !important;
}
.btn-group-danger .dropdown-menu li > a:hover,
.btn-group-danger .dropdown-menu li > a:focus {
  background-color: #d9534f !important;
}